body{
font-family: Arial;
background:#eeeeee;
text-align:center;
padding:20px;
}

h1{
font-size:34px;
margin-bottom:20px;
}

.english{
color:#24b36b;
}

.finnish{
color:#1e90ff;
}

input{
width:80%;
padding:14px;
font-size:18px;
border:none;
background:#d9d9d9;
}

button{
margin-top:15px;
width:60px;
height:60px;
font-size:18px;
border:none;
background:#46ebb9a8;
color:rgb(0, 140, 255);
cursor:pointer;
border-radius:50%;
}

#translationBox{
margin:20px auto;
font-size:26px;
color:#0b48ff;
width:80%;
}

.sectionTitle{
width:80%;
margin:auto;
text-align:left;
color:#999;
}

.box{
width:80%;
margin:10px auto;
padding:20px;
display:none;
overflow-x:auto;
text-align:left;
}

.green{
background:#FAFAFA;
}

.blue{
background:#cedaeb;
}

.orange{
background:#F5F3ED;
}

#imageContainer{
width:80%;
margin:auto;
display:none;
}

#imageContainer img{
width:100%;
cursor:zoom-in;
}

table{
border-collapse:collapse;
width:100%;
}

td{
border:1px solid #444;
padding:8px;
}

red{
color:red;
font-weight:bold;
}

green{
color:green;
font-weight:bold;
}

blue{
color:#1976d2;
font-weight:bold;
}

purple{
color:#a300e4;
font-weight:bold;
}

yellow{
color:#fbff00;
font-weight:bold;
}

strike{
text-decoration:line-through;
}

b{
font-weight:bold;
}

#englishNotes,
#finnishNotes{
white-space: pre-line;

}

